table { 
    border-spacing: 10px;
    border-collapse: separate;
}

tr:nth-child(odd) td:nth-child(odd) {
    border: 2px solid #d89d9d;
    background: #a4c4a4;
    width: 80px;
    height: 80px;
    margin: 20px;
}

tr:nth-child(odd) td:nth-child(odd) div {
    background: #d89d9d;
    border: none;
    width: 30px;
    height: 30px;
    margin: 25px;
}

tr:nth-child(odd) td:nth-child(even) {
    border: 2px solid #a4c4a4;
    background: #d89d9d;
    width: 80px;
    height: 80px;
    margin: 10px;
}

tr:nth-child(odd) td:nth-child(even) div {
    background: #a4c4a4;
    border: none;
    width: 30px;
    height: 30px;
    margin: 25px;
} 

tr:nth-child(even) td:nth-child(even) {
    border: 2px solid #d89d9d;
    background: #a4c4a4;
    width: 80px;
    height: 80px;
    margin: 20px;
}

tr:nth-child(even) td:nth-child(even) div {
    background: #d89d9d;
    border: none;
    width: 30px;
    height: 30px;
    margin: 25px;
}

tr:nth-child(even) td:nth-child(odd) {
    border: 2px solid #a4c4a4;
    background: #d89d9d;
    width: 80px;
    height: 80px;
    margin: 10px;
}

tr:nth-child(even) td:nth-child(odd) div {
    background: #a4c4a4;
    border: none;
    width: 30px;
    height: 30px;
    margin: 25px;
} 

